src/main/mule/weatheralertgenerator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    
    <!-- HTTP Listener Config -->
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" basePath="/">
        <http:listener-connection host="localhost" port="8081"/>
    </http:listener-config>

    <!-- Main Flow: Receives city name and calls Weather API -->
    <flow name="weatheralertgeneratorFlow" doc:id="main-flow">
        <http:listener doc:name="HTTP Listener" config-ref="HTTP_Listener_config" path="getWeather"/>
        
        <!-- Call WeatherAPI.com -->
  <set-variable variableName="city" value="#[attributes.queryParams.city default 'Coimbatore']" doc:name="Set City Variable"/>

<http:request method="GET" 
    url="#['http://api.weatherapi.com/v1/current.json?key=20ed6b37040a4224a96161624252503&amp;q=' ++ vars.city]" 
    doc:name="Call Weather API"/>

        
        <!-- Extract Weather Data using DataWeave -->
        <ee:transform doc:name="Extract Weather Data">
    <ee:message>
        <ee:set-payload>
            <![CDATA[
            %dw 2.0
            output application/json
            var weatherCondition = payload.current.condition.text
            var city = payload.location.name
            var temperature = payload.current.temp_c
            var alertMessage = 
                if (temperature > 40) "Heatwave Alert! Stay indoors and stay hydrated."
                else if (payload.current.wind_kph > 50) "Storm Alert! Avoid traveling and take precautions."
                else "Weather is normal."
            ---
            {
                place: city,
                weather: weatherCondition,
                temperature: temperature ++ "°C",
                alert: alertMessage
            }
            ]]>
        </ee:set-payload>
    </ee:message>
</ee:transform>

        <logger level="INFO" doc:name="Logger" message="Weather Alert: #[payload.alert]"/>
    </flow>

</mule>

